/* Write your CSS here */

.button {
  width: 100px;
  height: 28px;
  border: 1px solid #d4d2db;
  border-radius: 4px;
  color: #d4d2db;
  background-color: #7c3aed;
  margin-right: 20px;
  margin: 15px;
}

.list-items {
  list-style-type: none;
  width: 100%;
}
